.yk_card_class_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    color: #d8e2dc;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    border-color: #d8e2dc;
    transition: all 0.5s;
    width: 300px;
}

.yk_card_class_main img {
    width: 300px;
}

.yk_card_class_main:hover{
    border-color: #fec89a;
    color: #fec89a;
    box-shadow: 0  0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}